.box 
{
    background-color: rgb(101, 99, 167);
    height: 350px;
    width: 300px;
    text-align: center;
    margin: auto;
    border-radius: 1px;
    border: 2px solid black;
   
}
button
{
    text-align: center;
    padding: 10px;
    box-shadow: 2px;
    cursor: pointer;
    border-radius: 10px;
    
    
}
.row
{
    margin: 8px;
}
.row input
{
    padding:3px;
    margin-left: 1px;
    font-size: 10px;
    box-sizing: content-box;
    border-radius: 5px;
    border: 3px solid black;
}
h1{
    text-align: center;
}